@model List<EmployeeDetails.Models.Employee>
@{
    ViewData["Title"] = "GetDetails";
}

<html>
<head>
    <title>Employee Page</title>
</head>
<body>
    <div>
        <h1>Employee Details</h1>
        <div class="row">
            <div class="col-md-4">
                
                    @foreach(var e in Model)
                    {
                        @if(e.IsPermanent==true)
                                {
                                   <p><b> <span>@e.Id @e.Name @e.Salary @e.IsPermanent</span>  </b></p>
                                }
                         else
                         {
                                 <p> <span>@e.Id @e.Name @e.Salary @e.IsPermanent</span></p>
                            }
                    }
                
            </div>

        </div>
    </div>
</body>
</html>

